spring.application.name=vm
server.port=porta_desejada ex de porta padrão: 8080
server.servlet.context-path=/desafio

spring.datasource.url=jdbc:postgresql://localhost:5432/seu_banco
spring.datasource.username=seu_usuario
spring.datasource.password=sua_senha
spring.datasource.driver-class-name=org.postgresql.Driver

app.cors.origins=http://localhost:porta_front
 
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

spring.session.jdbc.initialize-schema=always

jwt.secret=SUA_CHAVE_AQUI
jwt.expiration=300000